/* NAVBAR */
.navbar-light {
    background-color: #dc3545;
}

.navbar-brand {
    font-family: segoe print;
    font-weight: 600;
    color: white !important;
}

.navbar-nav a {
    color: white !important;
    font-family: poppins;
}

.navbar-nav a:hover {
    color: #ccc !important;
    transition: .2s;
}
/* NAVBAR */

/* BANNER */
.banner {
    height: 400px;
    max-width: 1365px;
    background-image: url(img/home/banner.png);
    border-bottom: 2px solid #8e8e8e;
}

.card-banner {
    font-family: poppins;
    transform: translateY(130px);
    color: #373737;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

.card-banner .btn-danger {
    color: white;
    font-weight: 600;
}

.card-body h3 {
    font-weight: 800;
    border-bottom: 3px solid #373737;
}

.card-body p {
    font-size: 18px;
    font-weight: 500;
}
/* BANNER */

/* NEW PRODUCT */
.card-box {
    margin-top: 5px;
    font-family: poppins;
}

.card-box .card-header {
    font-weight: 600;
    font-size: 18px;
    color: #dc3545;
}

.card-box .card-img {
    width: 150px;
    height: 150px;
}

.carousel-control-prev-icon , .carousel-control-next-icon {
    padding: 10px;
    background-color: #dc3545;
}

.card-box .carousel-item .card-deck a {
    text-decoration: none;
    color: #373737;
}

.card-box .carousel-item .card-deck a:hover {
    transform: scale(.95);
    transition: .2s;
}

.carousel-newproducts .carousel-item .card-deck .card-body small {
    font-weight: 600;
}
/* NEW PRODUCT */

/* BRANDS */
.logo-brands {
    align-self: center;
}

.logo-brands .margin {
    margin-right: -50px;
}

.logo-brands a .col-centered {
    margin-left: 30px;
    padding: 10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.logo-brands a .col-centered:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transform: scale(.95);
    transition: .2s;
}
/* BRANDS */

/* BEST SELLER */
.bestseller {
    font-family: poppins;
}

.bestseller .card-box .card-deck a {
    text-decoration: none;
    color: #373737;
}

.bestseller .card-box .card-deck a:hover {
    transform: scale(1.05);
    transition: .2s ease-in-out;
}

.bestseller .card-deck h5 {
    font-weight: 600;
}

.bestseller .card-deck small {
    font-weight: 600;
}
/* BEST SELLER */

/* FOOTER */
.page-footer {
    background-color: #dc3545;
    color: white;
    font-family: poppins;
}

.page-footer .footer-projectuas p {
    margin-bottom: 5px;
}

.footer-projectuas a {
    text-decoration: none;
}
/* FOOTER */


/* SINGLE PRODUCT */
.box-singleproduct {
    border: 1px solid #8e8e8e;
    border-radius: 10px;
    color: #373737;
    font-family: poppins;
    min-width: auto;
}

.box-singleproduct .plus-minus {
    margin-top: -20px;
    margin-bottom: 50px;
}

.box-singleproduct input {
    max-width: 40px;
}

.box-singleproduct .button {
    display: inline;
}

.box-singleproduct .btn-add {
    width: 200px;
    color: white;
    font-weight: 500;
}

.box-singleproduct small {
    margin-top: 100px !important;
}

.breadcrumb {
    margin-top: 50px;
    background-color: white;
    font-family: poppins;
}
/* SINGLE PRODUCT */